/* Masquer les flèches d'incrémentation sélection de quantité */

/* Pour Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Pour Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Pour IE11 */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
    display: none;
}

input[type="number"] {
    width: 100px; /* Largeur de la zone de saisie */
    padding: 5px; /* Espacement intérieur pour le confort visuel */
    border: 1px solid #ccc; /* Bordure discrète */
    border-radius: 4px; /* Coins arrondis */
}

.order-title {
    text-transform: uppercase;
}

hr {
    height: 1px !important; /* Épaisseur de la ligne */
    width: 100%;
    border: none !important; /* Assurez-vous qu'il n'y a pas de bordure par défaut */
    background-color: #ffffff; /* Couleur de la ligne */
    margin: 20px auto; /* Espacement vertical et centrage horizontal */
}

.vertical-line {
    height: 350px; /* Hauteur du séparateur */
    width: 1px; /* Largeur du séparateur */
    background-color: #ffffff; /* Couleur du séparateur */
    margin: auto; /* Espacement horizontal autour du séparateur */
}

.form-title {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.image-container {
    position: relative;
    width: 100%; /* ou la largeur spécifique de l'image */
    height: auto; /* hauteur automatique selon l'image */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block; /* supprime les marges sous l'image */
}

.text-overlay {
    position: absolute;
    top: 50%; /* centrer le texte verticalement */
    left: 50%; /* centrer le texte horizontalement */
    transform: translate(-50%, -50%); /* aligner précisément le centre du texte avec le centre de l'image */
    color: white; /* couleur du texte */
    font-size: 20px; /* taille du texte */
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; /* alignement du texte */
    white-space: nowrap;
    line-height: 1.2;
}

.text-overlay p {
    margin-bottom: 0 !important;
    line-height: 0;
}