form {
    max-width: 860px !important;
    margin: 0 auto !important;
}

.order-title {
    text-transform: uppercase;
    font-size: 38px !important;
    font-weight: 800 !important;
    color: #fff !important;
    line-height: 46px !important;
    margin-top: 56px !important;
    margin-bottom: 76px !important;
}

hr {
    height: 1px !important; /* Épaisseur de la ligne */
    width: 100%;
    border: none !important; /* Assurez-vous qu'il n'y a pas de bordure par défaut */
    background-color: #fff; /* Couleur de la ligne */
    margin: 0 auto 40px auto !important; /* Espacement vertical et centrage horizontal */
}

.vertical-line {
    height: 450px; /* Hauteur du séparateur */
    width: 1px; /* Largeur du séparateur */
    background-color: #fff; /* Couleur du séparateur */
    margin: auto; /* Espacement horizontal autour du séparateur */
}

.commande {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    text-align: center;
    flex: 1;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 192px;
    height: 128px;
    object-fit: cover;
    margin-bottom: 16px;
}

.text-overlay {
    position: absolute;
    top: 64px; /* centrer le texte verticalement */
    left: 50%; /* centrer le texte horizontalement */
    transform: translate(-50%, -50%); /* aligner précisément le centre du texte avec le centre de l'image */
    color: white; /* couleur du texte */
    font-size: 20px; /* taille du texte */
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; /* alignement du texte */
    white-space: nowrap;
    line-height: 0;
}

/* Masquer les flèches d'incrémentation sélection de quantité */

/* Pour Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Pour Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Pour IE11 */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
    display: none;
}

.infos {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-bottom: 16px;
}

.left, .right {
    width: 45%;
}

.order-subtitle {
    font-size: 30px !important;
    font-weight: 700 !important;
    margin-bottom: 40px !important;
    margin-top: 0px !important;
    color: #fff !important;
}

label {
    display: block;
    margin-bottom: 13px;
    font-weight: normal;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="number"] {
    box-sizing: border-box;
    width: 380px;
    height: 71px;
    padding: 10px !important;
    margin-bottom: 30px;
    border: none !important;
    border-radius: 7px !important;
    box-shadow: 0px 4px 14px 0px #0000000A !important;
}

button {
    display: block !important;
    width: 200px;
    height: 55px;
    padding: 15px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #fff !important;
    background-color: #E0B9B4 !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin: 0 auto 70px auto !important; /* Centre le bouton horizontalement */
}

button:hover {
    background-color: #C02E44 !important;
}

.image-container input {
    width: 40px !important;
    height: 56px !important;
    text-align: center;
    border-radius: 0px !important;
    margin-bottom: 0 !important;
}

@media (min-width: 320px) and (max-width: 768px) {

    .order-title {
        font-size: 1.8rem !important;
    }

    .order-subtitle {
        font-size: 1.1rem !important;
        text-align: center;
    }

    .commande {
        margin-bottom: 0px;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .mobile-toggle-open-container .menu-toggle-open, .mobile-toggle-open-container .menu-toggle-open:focus {
        width: 100%;
    }

    .mobile-navigation ul li.current-menu-item > a, .mobile-navigation ul li.current-menu-item.menu-item-has-children > .drawer-nav-drop-wrap{
        color: #cccccc !important;
    }

    .popup-drawer .drawer-inner {
        max-width: 70% !important;
    }
}